.sub-class{
    width: 500px;
    margin: auto;
    padding: 10px;
    border: 1px solid;
    border-radius: 19px;

    .title-class{
        display: flex;
        justify-content: space-between;
        align-items: center;

        button{
            font-size: 15px;
            padding: 10px 20px;
            cursor: pointer;
        }
}

}
