<div class="container-fluid">
  <h2>Registration form</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" >
  <div class="form-group">
    <label>Username</label>
    <input [class.is-invalid]="userName?.invalid && userName?.touched"
    type="text" formControlName="userName" class="form-control">
    <!-- <small class="text-danger" [class.n-none]="registrationForm.get('userName')?.valid || registrationForm.get('userName')?.untouched">username required</small> -->
    <div *ngIf="userName?.invalid && userName?.untouched">
      <small class="text-danger" *ngIf="userName?.errors?.required">username required</small>
      <small class="text-danger" *ngIf="userName?.errors?.minlength">user name min length 3</small>
      <small class="text-danger" *ngIf="userName?.errors?.forbiddenName">{{userName?.errors?.forbiddenName.value}} username is not allowed</small>

    </div>
  </div>

  <div class="form-group">
    <label>email</label>
    <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateEmail()">addemail</button>
    <input  [class.is-invalid]="email?.invalid && email?.touched" type="text" formControlName="email"  class="form-control">
    <small class="text-danger" [class.d-none]="email?.valid || email?.untouched">email required</small>

    <div formArrayName="alternateEmail" *ngFor="let email of alternateEmail.controls; let i = index">
      <input type="text" class="form-control my-1" [formControlName]="i">


    </div>
  </div>

  <div class="form-check mb-3">
    <label  class="form-check-label">Send email promotions</label>
    <input type="checkbox" formControlName="subscribe"  class="form-check-input">

  </div>

  <div class="form-group">
    <label>password</label>
    <input type="password" formControlName="password"  class="form-control">

  </div>
  <div class="form-group">
    <label>confirm password</label>
    <input [class.is-invalid]="registrationForm?.errors?.misMatch" type="password" formControlName="confirmPassword" class="form-control">
    <small class="text-danger" *ngIf="registrationForm?.errors?.misMatch">password did not match</small>

  </div>

  <div formGroupName="address">
    <div class="form-group">
      <label>City</label>
      <input type="text" formControlName="city" class="form-control">
  
    </div>
    <div class="form-group">
      <label>State</label>
      <input type="text" formControlName="state" class="form-control">
  
    </div>
    <div class="form-group">
      <label>postal</label>
      <input type="number" formControlName="postalCode" class="form-control">
  
    </div>
  </div>


  <button class="btn btn-primary" type="submit">Register</button>
  <button (click)="loadAPI()" class="btn btn-secondary ml-2"  type="button">Load API data</button>

</form>
{{registrationForm.value | json}}
</div>
