<form name="form" (ngSubmit)="f.form.valid && submit()" #f='ngForm' novalidate>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="test" class="form-control" name="firstName"[(ngModel)]="model.firstName" #firstName="ngModel"  [ngClass]="{'is-invalid': f.submitted && firstName.invalid}" required>
        
        <div *ngIf="f.submitted" class="invalid-feedback">
        <div *ngIf="firstName.errors?.required">First Name is required</div>
    </div>
    </div>
    <button type="submit">Submit</button>
</form>
